<header><h2>Current Heroes</h2></header>
<section>
    <ul class="heroes">
        <li *ngFor="let hero of heroes" 
        [class.selected]="hero === selectedHero"
        (click)="onSelect(hero)">
            <header><h2> {{ hero.name | uppercase }}</h2></header>

            <span class="badge">{{hero.name}} </span> ---- Score: {{hero.score}}
        </li>
    </ul>
</section>

<section>
    <div *ngIf="selectedHero">
        <header><h2> {{ selectedHero.name | uppercase }}</h2></header>
        <label>Edit Name:
            <input [(ngModel)]="selectedHero.name" placeholder="write hero's name" />
        </label>
    </div>
</section>